<!DOCTYPE>
<html>
<head>
    <title>LinuxBlog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css.css">
    
</head>

<body>
    <!-- Nav bar top -->
    <div class="topnav" id="myTopNav">
        <div class="headerText">
            <h1>Ctrl's Linux Tech Tips</h1>
        </div>
        <div>
            <ul class="row">
            </ul>
        </div>
    </div>
    <!-- Nav bar left side -->
    <div class="tipsBar">
        <ul class="tips">
            <li class="tipsText" ><a href="#" style="text-decoration: none">Arch Tips</a></li>
            <li class="tipsText">Kali Tips</li>
            <li class="tipsText">Ubuntu Tips</li>
            <li class="tipsText">Windows Tips</li>
            <li class="tipsText">Asp.net</li>
        </ul>
    </div> -->
    <!-- Main Logo -->
    <div class="logo">
        <img src="pics/Tux.png" alt="Tux Logo" width="200px" height="200px">
    </div>
    <!-- Modal Area -->
    <div class="modalArea">
        <div>
            <button class="btn btn-block btn-danger">+</button>
        </div>
        <div class="hidden" id="hiddenExample">
            <input type="text" placeholder="this is random text that can be changed"/>
        </div>
    </div>
    <!-- Main Body -->
    <div class="content">
        <h3>Blog Into</h3>
        <p>This site is dedecated as a personal reference page to quickly find solutions
            I have worked on. The goal is to keep html/css as simple as possible, but be
            to reference commands or code I have previously used to solve my problems quickly
        </p>
        <h3>Content</h3>
        <p>To the left of the page, use cases are broken down to their appropriate distributions
            or API. A quick feature I wanted for most websites is to be able to reference
            the commands quickly, and if I needed explination of the code, I would be able to scroll down.
        </p>
        <p>
            I feel this a major disconnect in tech blogs or forms that solve a quick distribution
            issue or quick copy and paste code.
        </p>
    </div>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
</body>

</html>